---
layout: main
---
<section class="bg-hero">
    <div class="content">
        {% include_relative content/hero.html %}
    </div>
</section>
<section class="bg-3">
    <div class="content">
        {% include_relative content/introduction.html %}
    </div>
</section>
<section class="bg-2">
    <div class="content">
        {% include_relative content/coop.html %}
    </div>
</section>
<section class="bg-4">
    <div class="content">
        {% include_relative content/background.html %}
    </div>
</section>
<section class="bg-3">
    <div class="content">
        {% include_relative content/academics.html %}
    </div>
</section>
<section class="bg-2">
    <div class="content">
        {% include_relative content/transfers.html %}
    </div>
</section>
<section class="bg-5">
    <div class="content">
        {% include_relative content/outcomes.html %}
    </div>
</section>
<section class="bg-4">
    <div class="content">
        {% include_relative content/finances.html %}
    </div>
</section>
<section class="bg-6">
    <div class="content">
        {% include_relative content/health.html %}
    </div>
</section>
<section class="bg-1">
    <div class="content">
        {% include_relative content/lifestyle.html %}
    </div>
</section>
<section class="bg-4">
    <div class="content">
        {% include_relative content/misc.html %}
    </div>
</section>
<section class="bg-7">
    <div class="content">
        {% include_relative content/future.html %}
    </div>
</section>
<section class="bg-2">
    <div class="content">
        {% include_relative content/relationships.html %}
    </div>
</section>
<section class="bg-3">
    <div class="content">
        {% include_relative content/exchange.html %}
    </div>
</section>
<section class="bg-8">
    <div class="content">
        {% include_relative content/end.html %}
    </div>
</section>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47938100-11"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-47938100-11');
</script>
