---
layout: main
---
<section class="bg-hero">
    <div class="content">
        {% include_relative hero/index.html %}
    </div>
</section>
<section class="bg-1">
    <div class="content">
        {% include_relative introduction/index.html %}
    </div>
</section>
<section class="bg-2">
    <div class="content">
        {% include_relative coop/index.html %}
    </div>
</section>
<section class="bg-2">
    <div class="content">
        {% include_relative background/index.html %}
    </div>
</section>
<section class="bg-3">
    <div class="content">
        {% include_relative academics/index.html %}
    </div>
</section>
<section class="bg-5">
    <div class="content">
        {% include_relative outcomes/index.html %}
    </div>
</section>
<section class="bg-3">
    <div class="content">
        {% include_relative lifestyle/index.html %}
    </div>
</section>
<section class="bg-5">
    <div class="content">
        {% include_relative future/index.html %}
    </div>
</section>
<section class="bg-5">
    <div class="content">
        {% include_relative end/index.html %}
    </div>
</section>
