/* VARIABLES */
$content-width: 1200px;

// Background colors
$bg-1: #d7fff7ef;
$bg-2: #fff7db;
$bg-3: #f3f3f3; 
$bg-4: #cbf6db;
$bg-5: #ffe5d9;
$bg-6: #e6e7ff;
$bg-7: #ffe0e0;
$bg-8: #e4f4f3; 


/* TYPOGRAPHY */
body {
    color: rgb(71, 71, 71);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color: rgb(71, 71, 71);;
}

/* GRID */
section {
    width: 100%;
    overflow: hidden;

    .content {
        margin: 0px auto;
        padding: 12% 0;
        max-width: $content-width;
        width: 80%;
        min-height: 100%;
        position: relative;
    }
}

.half {
  vertical-align: top;
}

@media screen and (min-width: 800px) {
    .half {
        display: inline-block;
        width: 42%;
        padding: 0 4% 16px 0;
    }

    .second {
        width: 42%;
        padding: 0 4% 16px 0;
    }
}

@media screen and (max-width: 800px) {
    .half {
        display: block;
        width: 100%;
        padding: 16px 0;
    }

    .second {
    }
}

@media print {
    .half {
        display: block;
        width: 100%;
        padding: 16px;
    }
}

.third {
  width: 24%;
}

.two-third {
  width: 60%;
}

.bg-hero {
  background-image:url('../img/cover.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-color: $bg-8;
  background-position: center center;
  height: 100vh;
  .content {
    padding: 0;
    width: 90%;
    max-width: 90%;
  }
}

.cover_graphic {
  width: 35vw;
  height: auto;
  position: absolute;
  top:50%;
  transform: translate(0, -50%);
}

/* COLORS */
.bg-1 {
    background-color: $bg-1;
}

.bg-2 {
    background-color: $bg-2;
}

.bg-3 {
    background-color: $bg-3;
}

.bg-4 {
    background-color: $bg-4;
}

.bg-5 {
    background-color: $bg-5;
}

.bg-6 {
    background-color: $bg-6;
}

.bg-7 {
    background-color: $bg-7;
}

.bg-8 {
    background-color: $bg-8;
}

.vb { /* Vertical buffer */
  height: 32px;
  width: 100%;
  display: block;
}

.vbx2 {
  height: 64px;
}

.vbx3 {
  height: 96px;
}

.vbx4 {
  height: 128px;
}

.vbx6 {
  height: 160px;
}

.hvb {
  height: 16px;
}

.class-photo {
  width: 100%;
}

.class-photo img {
  width: 100%;
}

@media screen and (min-width: 820px) {
  .cover_half {
      display: inline-block;
      width: 48%;
      padding: 0 4% 16px 0;
  }

  .cover_second {
      display: inline-block;
      width: 42%;
  }
}

@media screen and (max-width: 820px) {
  .cover_half {
      display: block;
      width: 100%;
      padding: 16px 0;
  }

  .cover_second {
    width:0%;
    display: none;
  }
}