/* VARIABLES */
$content-width: 1200px;

// Background colors
$bg-1: #324c67;
$bg-2: #294766;
$bg-3: #2E6399;
$bg-4: #165050;
$bg-5: #383040;
$bg-6: #586e75;
$bg-7: #073642;
$bg-8: #002b36;


/* TYPOGRAPHY */
body {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color: #fff;
}

/* GRID */
section {
    width: 100%;
    overflow: hidden;

    .content {
        margin: 0px auto;
        padding: 12% 0;
        max-width: $content-width;
        width: 80%;
        min-height: 100%;
        position: relative;
    }
}

.half {
  vertical-align: top;
}

@media screen and (min-width: 800px) {
    .half {
        display: inline-block;
        width: 42%;
        padding: 0 4% 16px 0;
    }

    .second {
        width: 42%;
        padding: 0 4% 16px 0;
    }
}

@media screen and (max-width: 800px) {
    .half {
        display: block;
        width: 100%;
        padding: 16px 0;
    }

    .second {
    }
}

@media print {
    .half {
        display: block;
        width: 100%;
        padding: 16px;
    }
}

.third {
  width: 24%;
}

.two-third {
  width: 60%;
}

.bg-hero {
  background-image:url('../img/hero.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-color: #3D454D;
  background-position: center center;
  height: 100vh;
  .content {
    padding: 0;
    width: 90%;
    max-width: 90%;
  }
}

/* COLORS */
.bg-1 {
    background-color: $bg-1;
}

.bg-2 {
    background-color: $bg-2;
}

.bg-3 {
    background-color: $bg-3;
}

.bg-4 {
    background-color: $bg-4;
}

.bg-5 {
    background-color: $bg-5;
}

.bg-6 {
    background-color: $bg-6;
}

.bg-7 {
    background-color: $bg-7;
}

.bg-8 {
    background-color: $bg-8;
}

.vb { /* Vertical buffer */
  height: 32px;
  width: 100%;
  display: block;
}

.vbx2 {
  height: 64px;
}

.vbx3 {
  height: 96px;
}

.vbx4 {
  height: 128px;
}

.hvb {
  height: 16px;
}
