rect.bar {
  fill: #fff;
  mix-blend-mode: difference;
}

text {
  fill: #fff;
  mix-blend-mode: luminosity;
  font-family: 'Source Code Pro', monospace;
}

.arc text {
  font-size: 12px;
}

path.domain {
  stroke: #fff;
}

.horizontal-bar-chart {
  margin-left: -80px;
}

.line-chart {
  fill: none;
}

g.tick line {
  stroke: #fff;
}
