rect.bar {
  fill: rgb(71, 71, 71);;
  mix-blend-mode: difference;
}

#coop-cloud text {
  mix-blend-mode: normal;
}

text {
  fill: rgb(71, 71, 71);
  mix-blend-mode: luminosity;
  font-family: 'Source Code Pro', monospace;
  &.line-chart-label {
    mix-blend-mode: normal;
    font-size: 10px;
  }
}

.arc text,
text.label {
  font-size: 12px;
}

path.domain {
  stroke: rgb(71, 71, 71);;
}

.horizontal-bar-chart {
  margin-left: -80px;
}

.line-chart {
  fill: none;
}

g.tick line {
  stroke: rgb(71, 71, 71);;
}

.scale {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

.legend {
  font-family: 'Source Code Pro', monospace;
  padding-right: 8px;
}

.scale-item {
  display: inline-block;
  font-family: 'Source Code Pro', monospace;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
  color: rgba(0,0,0,0.5);
  border-radius: 50%;
  margin: 2px 2px;
  cursor: pointer;
  box-shadow: 0px 3px 2px rgba(0,0,0,.4);
  transition: 0.2s ease;
}

.scale-item:hover {
  box-shadow: 0px 5px 3px rgba(0,0,0,.4);
}


.loc-pre-item, .loc-post-item, .ethnicity-item, .friends-gain-item, .enriched-grades-item, .admission-salary-item, .entrance-grades-item, .work-location-item {
  display: inline-block;
  font-family: 'Source Code Pro', monospace;
  line-height: 32px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  color: rgba(0,0,0,0.5);
  border-radius: 20%;
  margin: 2px 2px;
  cursor: pointer;
  box-shadow: 0px 3px 2px rgba(0,0,0,.4);
  transition: 0.2s ease;

  &.pressed {
    box-shadow: inset 0px 5px 3px rgba(0,0,0,.2);
    &:hover {
      box-shadow: none;
    }
  }

  &:hover {
    box-shadow: 0px 5px 3px rgba(0,0,0,.4);
  }
}

// .pressed state = "not shown"

.c1 {
  background-color: #c1e6db;
  &.pressed {
    background-color: #66C2A6;
  }
}

.c2 {
  background-color: #dbefba;
  &.pressed {
    background-color: #A6D954;
  }
}

.c3 {
  background-color: #ffefab;
  &.pressed {
    background-color: #FFD92F;
  }
}

.c4 {
  background-color: #f4e7d4;
  &.pressed {
    background-color: #E5C594;
  }
}

.c5 {
  background-color: #f5d0e7;
  &.pressed {
    background-color: #E88AC3;
  }
}

.c6 {
  background-color: #d1d9ea;
  &.pressed {
    background-color: #8DA0CC;
  }
}


.work-location-item {
  padding-top: 8px;
  line-height: 20px;
  min-height:32px;
  font-size: 15px;


}

// Work location uses different set of colors
.wl1 {
  background-color: rgb(127, 189, 233);
  &.pressed {
    background-color: rgb(31, 119, 180);
  }
}

.wl2 {
  background-color: rgb(255, 191, 134);
  &.pressed {
    background-color: rgb(255, 127, 14);
  }
}

.wl3 {
  background-color: rgb(134, 222, 134);
  &.pressed {
    background-color: rgb(44, 160, 44);
  }
}

.wl4 {
  background-color:  rgb(235, 146, 146);
  &.pressed {
    background-color: rgb(214, 39, 40);
  }
}

.wl5 {
  background-color: rgb(201, 179, 222);
  &.pressed {
    background-color: rgb(148, 103, 189);
  }
}

.wl6 {
  background-color: rgb(203, 166, 158);
  &.pressed {
    background-color: rgb(140, 86, 75);
  }
}

.wl7 {
  background-color: rgb(241, 187, 224);
  &.pressed {
    background-color: rgb(227, 119, 194);
  }
}

.wl8 {
  background-color: rgb(191, 191, 191);
  &.pressed {
    background-color: rgb(127, 127, 127);
  }
}

.wl9 {
  background-color: rgb(232, 233, 133);
  &.pressed {
    background-color: rgb(188, 189, 34);
  }
}

.wl10 {
  background-color: rgb(129, 230, 240);
  &.pressed {
    background-color: rgb(23, 190, 207);
  }
}

.wl11 {
  background-color: rgb(127, 189, 233);
  &.pressed {
    background-color: rgb(31, 119, 180);
  }
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  padding-left:5px;
  padding-right: 5px;
}
