rect.bar {
  fill: rgb(71, 71, 71);;
  mix-blend-mode: difference;
}

text {
  fill: rgb(71, 71, 71);;
  mix-blend-mode: luminosity;
  font-family: 'Source Code Pro', monospace;
}

.arc text,
text.label {
  font-size: 12px;
}

path.domain {
  stroke: rgb(71, 71, 71);;
}

.horizontal-bar-chart {
  margin-left: -80px;
}

.line-chart {
  fill: none;
}

g.tick line {
  stroke: rgb(71, 71, 71);;
}

.scale {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

.legend {
  font-family: 'Source Code Pro', monospace;
  padding-right: 8px;
}

.scale-item {
  display: inline-block;
  font-family: 'Source Code Pro', monospace;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
  color: rgba(0,0,0,0.5);
  border-radius: 50%;
  margin: 2px 2px;
  cursor: pointer;
  box-shadow: 0px 3px 2px rgba(0,0,0,.4);
  transition: 0.2s ease;
}

.scale-item:hover {
  box-shadow: 0px 5px 3px rgba(0,0,0,.4);
}


.loc-pre-item, .loc-post-item, .ethnicity-item {
  display: inline-block;
  font-family: 'Source Code Pro', monospace;
  height: 32px;
  line-height: 32px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  color: rgba(0,0,0,0.5);
  border-radius: 20%;
  margin: 2px 2px;
  cursor: pointer;
  box-shadow: 0px 3px 2px rgba(0,0,0,.4);
  transition: 0.2s ease;
}

.loc-pre-item:hover, .loc-post-item:hover, .ethnicity-item:hover {
  box-shadow: 0px 5px 3px rgba(0,0,0,.4);
}

.c1 {
  background-color: #66C2A6;
}

.c2 {
  background-color: #A6D954;
}

.c3 {
  background-color: #FFD92F;
}

.c4 {
  background-color: #E5C594;
}

.c5 {
  background-color: #E88AC3;
}

.c6 {
  background-color: #8DA0CC;
}
