.title {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  font-size: 3.5vw;
  letter-spacing: -2px;
  line-height: 1.2;
  position: absolute;
  top: 60%;
  transform: translate(0, -100%);
}

.subtitle {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  font-size: 1.5vw;
  letter-spacing: -1px;
  line-height: 1.4;
  color: rgba(71, 71, 71, .85);
}

p {
  width: 80%;
  line-height: 1.8;
  font-size: 18px;
  font-weight: 300;
  color: rgba(71, 71, 71, .9);
}

.graph-title {
  display: block;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  width: 100%;
  font-size: 14px;
  padding-bottom: 16px;
  opacity: 0.8;
}

span.big {
  font-size: 22px;
  display: block;
  margin-bottom: 8px;
  color: rgba(71, 71, 71, 1);
  line-height: 1.8;
}

span.small {
  font-size: 14px;
  display: block;
  margin-bottom: 4px;
  color: rgba(71, 71, 71, 0.7);
  line-height: 1.8;
}

a {
  color: rgba(71, 71, 71, .9);
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 1.2;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -2px;
  margin-bottom: 32px;
}

h1::before {
  content: '>';
  position: absolute;
  left: 0;
  transform: translate(-100%,0);
  padding-right: 16px;
  font-size: 36px;
  padding-top: 6px;
  opacity: 0.5;
}

h2 {
  font-size: 28px;
  margin-bottom: 32px;
}

h3, h4 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  opacity: 0.6;
  font-weight: 700;
  margin-bottom: 4px;
}

h5 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 4px;
}

h6 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: #999
}

b {
  font-weight: 400;
  color: rgba(71, 71, 71, 1);
}

.center {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

@media screen and (max-width: 820px) {
  .title {
    font-size: 48px;
  }

  .subtitle {
    font-size: 24px;
  }

  p {
    font-size: 16px;
    width: 100%;
  }

  span.big {
    font-size: 18px;
  }

  span.small {
    font-size: 10px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 22px;
  }

  h3, h4 {
    font-size: 12px;
  }

  h5, h6 {
    font-size: 10px;
  }
}

.coop-cloud-legend {
  padding-top: 16px;
  text-align: center;
  line-height: 36px;
}

.cloud-not-enjoyed {
  color: rgb(197, 197, 197);
  font-size: 12px;
}

.cloud-enjoyed {
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.cloud-less {
  color:rgb(100, 99, 99);
  font-size: 12px;
  line-height: 36px;
}

.cloud-1, .cloud-2 {
  display: inline-block;
  .cloud-enjoyed {
    padding-right: 32px;
  }
}

.cloud-more {
  color: rgb(100, 99, 99);
  font-size: 24px;
  line-height: 36px;
}

@media screen and (max-width: 820px) {
  .cloud-1, .cloud-2 {
    display: block;
    .cloud-enjoyed {
      padding-right: 0px;
    }
  }
}

.toc {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  .nested {
    line-height: 1.3;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-left: 22px;
    font-weight: 300;
    opacity: 0.7;
    padding-bottom: 16px;
  }
}

.quote {
  border-left: 1px solid rgba(71, 71, 71, .7);
  padding-left: 32px;
  margin-top: 48px;
  font-style: italic;
}
