---
---
<html>
    <head>
        <title>University of Waterloo Software Engineering 2018 Class Profile</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Source+Code+Pro:400,600" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
        <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
        <link rel="manifest" href="./img/favicon/site.webmanifest">
        <link rel="mask-icon" href="./img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:image" content="https://classprofile.andyzhang.net/img/meta.png">
        <!-- Search Engine -->
        <meta name="description" content="The UW Software Engineering 2018 Class Profile is a report that showcases who SE students are, what they've done, and how university went for them.">
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="UW Software Engineering 2018 Class Profile">
        <meta itemprop="description" content="The Software Engineering 2018 Class Profile is a report that showcases who SE students are, what they've done, and how university went for them.">
        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta name="og:title" content="UW Software Engineering 2018 Class Profile">
        <meta name="og:description" content="The UW Software Engineering 2018 Class Profile is a report that showcases who SE students are, what they've done, and how university went for them.">
        <meta name="og:type" content="website">
        <meta property="og:url" content="https://classprofile.andyzhang.net" />
        <meta name="keywords" content="university of waterloo, uwaterloo,
        software, engineering, class profile, salary, coop, school">
        <script>
          var host = "classprofile.andyzhang.net";
          if ((host == window.location.host) && (window.location.protocol != "https:"))
              window.location.protocol = "https";
        </script>
    </head>
    <body class="content">
    {{ content }}
    </body>
    <script src="./build/bundle.min.js"></script>
</html>
